@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 40 30% 99%;
--foreground: 20 14.3% 4.1%;
--muted: 30 10% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 40 30% 99%;
--popover-foreground: 20 14.3% 4.1%;
--card: 40 30% 99%;
--card-foreground: 20 14.3% 4.1%;
--border: 20 5.9% 90%;
--input: 20 5.9% 90%;
--primary: 25 85% 50%;
--primary-foreground: 0 0% 100%;
--secondary: 35 80% 45%;
--secondary-foreground: 0 0% 100%;
--accent: 15 80% 50%;
--accent-foreground: 0 0% 100%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 20 14.3% 4.1%;
--radius: 0.5rem;
  }
  .dark {
      --background: 20 15% 10%;
--foreground: 20 10% 98%;
--muted: 25 10% 20%;
--muted-foreground: 25 5% 64.9%;
--popover: 20 15% 10%;
--popover-foreground: 20 10% 98%;
--card: 20 15% 10%;
--card-foreground: 20 10% 98%;
--border: 25 10% 20%;
--input: 25 10% 20%;
--primary: 25 85% 50%;
--primary-foreground: 0 0% 100%;
--secondary: 35 80% 45%;
--secondary-foreground: 0 0% 100%;
--accent: 15 80% 45%;
--accent-foreground: 0 0% 100%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--ring: 25 10% 70%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

